body {
    color: black;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* 
####section includes text, Factor 1-20, API input, rating scales#### 
section {
        background-image: url("images/superbowlbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    min-width: 90%;
    opacity: 1;
        
}

.intro, .chiefsapi, .fortyninerapi {
    border: 10px solid gold;
    padding: 20px;
    margin: 20px;
    max-width: 40%;
    min-width: 40%;
    max-height: 200px;
    background: rgba(255,255, 255, 0.9);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

.text h2 {
    margin: 10px;
}
.text p {
    margin: 10px;
}

####Flex containers in general: includes apiflexcontainer and ratingflexcontainer####
.flexcontainer {
    flex-direction: column;
    min-width: 60%;
}


####next three are API flex containers; apiflexcontainer includes chiefapi and fortyninerapi####
.apiflexcontainer {
    display: flex;
    justify-content: center;
   }

.chiefsapi {
    width: 100%;
    height: 400px;
}

.fortyninerapi {
    width: 100%;
    height: 400px;
}

####next 2 are user experience rating scales: ratingflexocontainer contains fivetofive and zerototen.####

.ratingflexcontainer {
    justify-content: space-between;
    max-width: 40%;
    min-width: 40%;
 }

.fivetofive, .zerototen {
    border: 10px solid gold;
    padding: 20px;
    margin: 20px;
    width: 100%;
    max-height: 40px;
    background: rgba(255,255, 255, 0.9);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9); 
} */



/* Initiating GRID as Flexbox is difficult to position DIV boxes */
body {
    background-image: url("images/superbowlbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    min-width: 90%;
    opacity: 1;
    }

/* wrapper includes intro, chiefs, 49ers, NE */

    .wrapper{
        display: grid;
        grid-template-columns: 5fr 3fr 3fr 3fr;
        grid-auto-rows: minmax(100px, 400px);
    }

    .wrapper > div {
        border: 1px solid gold;
        padding: 10px; 
        margin: 5px;
        background: rgba(255,255, 255, 0.9);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
    }

    .carousel{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-start: 1;
        grid-column-end: 3;
        height: auto;

    }

    #apioutput{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-start: 3;
        grid-column-end: 5;
        height: auto; 
    }


    .KC, .SF, .NE {
        text-align: center;

    }


    #apioutput {
        background-image: url("images/superbowllogo.webp");
        background-size: cover;
        display: flex;
        opacity: 1;
        overflow: inherit;
        }

    #nextBtn {
        align-content: flex-end;
        justify-content: center;
        border: 1px solid black;
        margin: 40px auto;
        padding: 6px 6px 6px 6px;
        border-radius: 12px;
        font-size: 30px;
    }

    p, .tip {
        font-size: 30px;
        padding: 12px 12px 12px 12px;
    }


    /* .carousel, .test {
        display: grid;

        height: 400px;
        border: 1px solid gold;
        padding: 10px; 
        margin: 5px;
        background: rgba(255,255, 255, 0.9);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
    } */
/*  */